body {
    font-family: Helvetica;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    width: 80vw;
    margin: 25px auto;
}

.container {
    width: 250px;
    margin: auto;
    min-height: 300px;
    background-color: #303030;
    border-radius: 15px;
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.head {
    color: white;
    font-weight: bold;
    padding: 10px;
}

.footer {
    padding: 12px;
    text-align: right;
}

select {
    font-size: 12px;
}

h1 {
    font-size: 14px;
}

.contacts {
    color: white;
    width: 100%;
    min-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px black solid;
    border-spacing: 0px;
    border-collapse: separate;
}

.row {
    font-size: 12px;
    text-align: left;    
}

.row:nth-child(odd) {
    background-color: #212121;
}

.row:nth-child(even) {
    background-color: #1A1A1A;
}

td {
    margin: 0;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.contact-circle {
    text-align: center;
    height: 8px;
    width: 8px;
    margin-left: 10px;
    position: relative;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: limegreen;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red
}

.contact-name {
    padding-left: 5px;
    
}
.contact-name:hover {
    cursor: pointer;
}

.dropdown {
    background-color: #484848;
    padding-top: 10px;
    color: white;
    display: block;
    height: 60px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    position: absolute;
    top: 40px;
    z-index: 100;
}

a {
    text-decoration: none;
    color: grey;
}

.contact-info {
    border-left: 3px black solid;
    padding-left: 10px;
    color: grey;
    margin: auto;
    width: 150px;
}

.hide {
    display: none;
}